body {
  margin: 0;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* temas */
.dark {
  background: #343541;
  color: white;
}

.light {
  background: #f7f7f8;
  color: black;
}

header {
  padding: 15px;
  background: #202123;
  display: flex;
  justify-content: space-between;
}

#chat {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/* mensagens */
.msg {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  max-width: 80%;
}

.user {
  background: #10a37f;
  align-self: flex-end;
}

.bot {
  background: #444654;
}

/* input */
#input-area {
  display: flex;
  padding: 10px;
  background: #202123;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
}